<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="icon" href="../images/index.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../css/log_in_up.css"/>
    <script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" async="async">

        $(document).ready(function () {

            function form() {
                var oform = document.getElementById('login');
                var L1 = oform.offsetWidth;
                var H1 = oform.offsetHeight;
                var Left = (document.documentElement.clientWidth - L1) / 2;
                var top = (document.documentElement.clientHeight - H1) / 2;
                oform.style.left = Left + 'px';
                oform.style.top = top + 'px';
            }

            form();

            window.onresize = function () {
                form();
            };

            $("#login").submit(function () {
                var is_checked = $("input[type='checkbox']").is(':checked');
                if (is_checked === true) {
                    $("input[type='checkbox']").attr({value: "Re_me", checked: "checked"});
                } else {
                    $("input[type='checkbox']").attr("value", "null");
                }

                var data = $("input").map(function () {
                    return ($(this).attr("name") + "=" + $(this).val());
                }).get().join("&");
                $.ajax({
                    type: "POST",
                    data: data,
                    url: "../controller/LoginController.jsp",
                    async: false,
                    success: function (responseText, status, xhr) {
                        var ajaxobj = $.parseJSON(responseText);
                        if (ajaxobj.status === "false") {
                            $("#span").css({visibility: "visible", display: "inline"}).html(ajaxobj.message);
                            setTimeout(function () {
                                $("span").hide("normal");
                            }, 3000);
                        } else if (ajaxobj.status = "true") {
                            var url = "http://localhost:8080"
                            var username = $('#username').attr("value")     //数据获取失败
                                document.write('<form id="post" name="post" action="' + url + '" method="get">');   //要修改为post操作
                            document.write('<input type="hidden" name="username" value="' + username + '" />');
                            document.write('</form>');
                            document.getElementById('post').submit();
                        }
                    },
                    error: function () {
                        alert("不知道出现了什么错误");
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
<div id="con">
    <form id="login">
        <h1>Sign In</h1>
        <fieldset>
            <span id="span" style="color: red;visibility: hidden"></span><br/>
            <input id="username" class="input" type="text" name="username" placeholder="Username" autofocus
                   required/>
            <input id="password" class="input" type="password" name="password" placeholder="Password"
                   required/>
        </fieldset>
        <div style="text-align: center">
            <div style="width: 50%;padding: 0;margin: 0; float: left;box-sizing: border-box;">
                <input id="checkbox" type="checkbox" name="Re_me" value="Re_me"/>
                <label>Remember me</label><br/><br/>
                <button class="submit" type="submit" id="submit" value="Signin">Signin</button>
            </div>
            <div style="width: 50%;padding: 0;margin: 0;float: left;box-sizing: border-box;">
                <a href="">forget password?</a><br/><br/>
                <button class="submit" type="button" value="Signup" onclick="window.location.href='signup.html'">
                    Signup
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>