<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="icon" href="../images/index.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../css/log_in_up.css"/>
    <script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
</head>
<body>
<div id="con">
    <form id="login">
        <h1>Sign In</h1>
        <fieldset>
            <span id="span" style="color: red;visibility: hidden"></span><br/>
            <input id="username" class="input" type="text" name="username" placeholder="Username" autofocus
                   required/>
            <input id="password" class="input" type="password" name="password" placeholder="Password"
                   required/>
        </fieldset>
        <div style="text-align: center">
            <div style="width: 50%;padding: 0;margin: 0; float: left;box-sizing: border-box;">
                <input id="checkbox" type="checkbox" name="Re_me" value="Re_me"/>
                <label>Remember me</label><br/><br/>
                <button class="submit" type="submit" id="submit" value="Signin">Signin</button>
            </div>
            <div style="width: 50%;padding: 0;margin: 0;float: left;box-sizing: border-box;">
                <a href="">forget password?</a><br/><br/>
                <button class="submit" type="button" value="Signup" onclick="window.location.href='signup.html'">
                    Signup
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    /*
     由于是遍历的input，所以chechbox也肯定是发送Re_me过去的,所以要先判断一下
     */

    $(document).ready(function () {
        function form() {
            //获取DIV为‘box’的盒子
            var oform = document.getElementById('login');
            //获取元素自身的宽度
            var L1 = oform.offsetWidth;
            //获取元素自身的高度
            var H1 = oform.offsetHeight;
            //获取实际页面的left值。（页面宽度减去元素自身宽度/2）
            var Left = (document.documentElement.clientWidth - L1) / 2;
            //获取实际页面的top值。（页面宽度减去元素自身高度/2）
            var top = (document.documentElement.clientHeight - H1) / 2;
            oform.style.left = Left + 'px';
            oform.style.top = top + 'px';

            function get_cookie(Name) {
                var search = Name + "=";//查询检索的值
                var returnvalue = "";//返回值
                if (document.cookie.length > 0) {
                    sd = document.cookie.indexOf(search);
                    if (sd != -1) {
                        sd += search.length;
                        end = document.cookie.indexOf(";", sd);
                        if (end == -1)
                            end = document.cookie.length;
                        //unescape() 函数可对通过 escape() 编码的字符串进行解码。
                        returnvalue = unescape(document.cookie.substring(sd, end))
                    }
                }
                return returnvalue;
            }

            var username = get_cookie("alice_username");
            var password = get_cookie("alice_password");

            if (username !== null && password !== null) {
                document.getElementById('username').value = username;
                document.getElementById('password').value = password;
                document.getElementById("checkbox").setAttribute("checked", "checked");
            }
        }

        form();

        //当浏览器页面发生改变时，DIV随着页面的改变居中。
        window.onresize = function () {
            form();
        };

        $("#login").submit(function () {
            var is_checked = $("input[type='checkbox']").is(':checked');
            if(is_checked === true){
                $("input[type='checkbox']").attr("value", "Re_me");
            }else{
                $("input[type='checkbox']").attr("value", "null");
            }

            var data = $("input").map(function () {
                return ($(this).attr("name") + "=" + $(this).val());
            }).get().join("&");

            $.ajax({
                type: "POST",
                data: data,
                url: "../controller/LoginController.jsp",
                cache:false,
                async: false,
                success: function (responseText, status, xhr) {
                    var ajaxobj = $.parseJSON(responseText);
                    if (ajaxobj.status === "false") {
                        $("#span").css({visibility: "visible", display:"inline"}).html(ajaxobj.message);
                        setTimeout(function () {
                            $("span").hide("normal");
                        }, 3000);
                    } else if (ajaxobj.status = "true") {
                        window.location = "index.jsp";
                    }
                },
                error:function () {
                    alert("不知道出现了什么错误，请重试(⊙﹏⊙)b");
                }
            });
            return false;
        });
    });
</script>
</body>
</html>