<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/index.png" type="image/x-icon"/>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../css/log_in_up.css" />
    <script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
</head>
<body>
<div id="con">
    <form id="login">
        <h1>Sign Up</h1>
        <fieldset>
            <span id="span" style="color: red;visibility: hidden"></span>
            <input class="input" type="text" name="username" placeholder="Username" autofocus required/>
            <input class="input" type="password" name="password" placeholder="Password" required/>
            <input class="input" type="password" name="repassword" placeholder="Re-Enter" required/>
        </fieldset>
        <div style="text-align: center">
            <div style="width: 50%;padding: 0;margin: 0; float: left;box-sizing: border-box;">
                <button class="submit" type="submit" id="submit" value="Signup">Signup</button>
            </div>
            <div style="width: 50%;padding: 0;margin: 0;float: left;box-sizing: border-box;">
                <button class="submit" type="button" value="Return" onclick="window.location.href='login.html'">Return</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        function form() {
            var oform = document.getElementById('login');
            var L1 = oform.offsetWidth;
            var H1 = oform.offsetHeight;
            var Left = (document.documentElement.clientWidth - L1) / 2;
            var top = (document.documentElement.clientHeight - H1) / 2;
            oform.style.left = Left + 'px';
            oform.style.top = top + 'px';
        }

        form();

        window.onresize = function () {
            form();
        };

        $("#login").submit(function () {
            var input = $("input");
            /*var map = input.map(function () {
                return $(this).val();
            });

            if(map.get(1) !== map.get(2)) {
                $("#span").css("visibility", "visible").html("密码不一致");
                setTimeout(function () {
                    $("#span").hide("normal");
                }, 5000);
            }*/


            var data = input.map(function () {
                return ($(this).attr("name") + "=" + $(this).val());
            }).get().join("&");

            $.ajax({
                type:"POST",
                url:"../controller/SignupController.jsp",
                data:data,
                cache:false,
                async:false,
                success:function (responsetext, status, xhr) {
                    var ajaxobj = $.parseJSON(responsetext);
                    if(ajaxobj.status == "true"){
                        $("#span").css({visibility: "visible", display:"inline"}).html("注册成功");
                        setTimeout(function () {window.location = "login.html";}, 2000);
                    }else if(ajaxobj.status == "false"){
                        $("#span").css({visibility: "visible", display:"inline"}).html(ajaxobj.message);
                        setTimeout(function () {
                            $("span").hide("normal");
                        }, 3000);
                    }
                },
                error:function () {
                    alert("不知道出现了什么错误，请重试(⊙﹏⊙)b");
                }
            });

            return false;
        });
    });
</script>
</body>
</html>